* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  color: #574845;
  background-color: #f9f9f9;
}

.nav-bar {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.nav-bar-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #574845;
}

.nav-links-bottom {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-links-bottom li {
  margin-right: 20px;
}

.nav-links-bottom p {
  color: #fff;
}

.nav-links-bottom a {
  color: #fff;
}

.copyright {
  color: #fff;
  padding-left: 20px;
}

.logo {
  margin-left: 40px;
}

.logo img {
  width: 250px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #574845;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #666;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.background-image {
  width: 100%;
  height: 800px;
  object-fit: cover;
  margin-bottom: -200px;
  position: relative;
  overflow: hidden;
}

.background-image2 {
  position: relative;
  width: 100%;
  height: 700px;
  object-fit: cover;
  margin-top: -150px;
}

.ekateksti {
  position: absolute;
  bottom: -29%;
  left: 64.2%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
}

.tokateksti {
  position: absolute;
  bottom: -51.5%;
  left: 37.8%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
}

.wave {
  position: relative;
  width: 100%;
  height: 300px;
}

.wave svg {
  width: 100%;
  height: 100%;
}

.text-container {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
}
.text-container p {
  padding-bottom: 5px;
}
.selaa {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  color: #574845;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.selaa:hover {
  letter-spacing: 3px;
  background-color: #574845;
  color: hsl(0, 0%, 100%);
  box-shadow: #574845 0px 7px 29px 0px;
}

.selaa:active {
  letter-spacing: 3px;
  background-color: #574845;
  color: hsl(0, 0%, 100%);
  box-shadow: #574845 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.timeline {
  background-color: #fff;
  position: relative;
  max-width: 1200px;
  margin-top: -100px;
  padding-bottom: 60px;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 45%;
  z-index: 10;
}

.text-box{
  padding: 20px 30px;
  background: #574845;
  color: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 20px;
}

.left-container {
  left: 8.4%;
}

.right-container {
  left: 50%;
}

.container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: 0px;
  top: 32px;
}

.right-container img {
  left: 0px;
}

.text-container2 {
  background-color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  width: 100%; /* add this */
  flex: 1; /* add this */
}

.text-container2 img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviews {
  background-color: #574845;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.review-container {
  background: #574845;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex; /* add this */
  justify-content: space-between; /* add this */
}

.review-card {
  width: 50%; /* adjust this */
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
}

.profile-picture {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 16px;
  margin-bottom: -20px;
}

.review-content {
  flex: 1;
  padding: 16px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
}

.content {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.stars {
  display: flex;
}

.star {
  font-size: 18px;
  color: #f5a623;
  margin-right: 4px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .nav-bar {
     flex-direction: column;
   }
  .logo {
     padding-left: 20px;
     margin: 0 auto 10px;
     text-align: center;
   }
   .nav-links {
    margin-right: -35px;
    flex-direction: row;
    align-items: center;
  }

  .nav-links li {
    margin-right: 15px;
  }
  .nav-links a {
     font-size: 16px;
   }
   .nav-links-bottom {
    flex-direction: column; /* make links stack vertically on mobile */
  }
  .copyright {
    padding-left: 0; /* remove padding-left on mobile */
  }
  .background-image {
    height: 600px;
  }
  .text-container {
    text-align: center;
    top: 38%;
    left: 50%;
  }
  .timeline::after {
    left: 31px;
}
.container{
  background-color: #fff;
  width: 100%;
  padding-left: 80px;
  padding-right: 25px;
}
.text-box{
  font-size: 15px;
}
.right-container{
  left: 0;
}
.left-container{
  left: 0;
}
.left-container img, .right-container img {
  left: 10px;
}
.reviews {
  font-size: 15px; /* adjust font size on mobile */
  text-align: center; /* add this to center the text */
  word-break: break-word; /* add this to allow words to stack */
}
.review-container {
  padding-left: 0px;
  padding-right: 0px;
}
.contact {
  font-size: 15px;
}
}